
<!DOCTYPE html>
<html>
  <head>
    <title>"Steelers Anthym"</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    link(rel="stylesheet", href="/static/css/styles.css")
   script(src+"/static/3081/index.js")
  </head>

  <body>
    <div id="app">
      <h1>#title#</h1>
      <div>#content#</div>
      
        a(href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapers.com%2Fpittsburgh-steelers-pictures&psig=AOvVaw1TYNydxJYrRd2Wg0QLMmLG&ust=1731540071781000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCIDR_sn314kDFQAAAAAdAAAAABAE") "Steeler Country."
    div 

    </div>
  </body>
</html>